.discounts {
  background-color: rgb(255, 209, 241);
}
.popup {
  width: 1000px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  /* padding: 10px; */
  z-index: 1;
}

.container:hover .popup {
  display: block;
}
